img {
  width: 100%;
}

.desktopG, .desktop, .tablette {
  display: none;
}

.telephone {
  display: block;
}

.div_title {
  text-align: center;
}

.div_sub_title {
  text-align: center;
}

.div_images {
  text-align: center;
}

.div_images > div {
  display: inline-block;
  width: 99%;
  padding: 1%;
}

@media screen and (min-width: 768px) {

  .desktopG, .desktop, .telephone {
    display: none;
  }

  .tablette {
    display: block;
  }

  .div_images > div {
    display: inline-block;
    width: 49%;
    padding: 1%;
  }
}

@media screen and (min-width: 970px) {

  .desktopG, .tablette, .telephone {
    display: none;
  }

  .desktop {
    display: block;
  }

  .div_images > div {
    display: inline-block;
    width: 474px;
    padding: 9px;
  }
}

@media screen and (min-width: 1370px) {

  .desktopG {
    display: block;
  }

  .desktop, .tablette, .telephone {
    display: none;
  }

  .div_images > div {
    display: inline-block;
    width: 24%;
    padding: 1%;
  }
}
